/* Setup tags */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-image: url('../images/config/background.gif');
	font-family: 'Open Sans', sans-serif;
}
section {
	background-color: #ffca28;
	height: auto;
}
section h1,
h2 {
	text-align: center;
}
section h1 {
	font-size: 36px;
}
/* Setup header */
#container {
	width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}
#top_image {
	background-image: url('../images/config/header.png');
	height: 30px;
}
#header_image {
	background-image: url('../images/K2.jpg');
	background-size: cover;
	background-position: center center;
	height: 150px;
}
#bottom_image {
	background-image: url('../images/config/menu.png');
	height: 40px;
}
/* Setup nav and aside*/
nav,
main {
	margin-top: 40px;
}
nav {
	width: 215px;
	float: left;
}
nav li {
	line-height: 2.4em;
	border-bottom: 1px dotted #000;
}
nav a {
	display: block;
	text-align: center;
	color: #000;
}
nav a:hover {
	color: #fff;
	transition-property: color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}
nav a.active {
  color: #fff;
}
nav li:last-child {
	border: none;
}
#l_menu {
	background-color: #ffca28;
}
#l_header {
	background-image: url('../images/config/l_header.png');
	height: 30px;
}
#l_footer {
	background-image: url('../images/config/l_footer.png');
	height: 30px;
	margin-bottom: 20px;
}
aside {
	width: 215px;
	float: left;
}
#logo {
	border-radius: 8px;
}
#pollSubmit,
#btnSubmit {
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	outline: none;
}
/*Setup main*/
main {
	width: 715px;
	float: right;
	height: auto;
}
#c_header {
	background-image: url('../images/config/c_header.png');
	height: 30px;
	text-align: right;
}
#rss img, #robots img, #sitemap img {
	margin: 10px 5px 0px 0px;
}
#c_footer {
	background-image: url('../images/config/c_footer.png');
	height: 30px;
}
article {
	width: 48%;
	float: left;
	text-align: center;
	margin-top: 45px;
}
article img {
	border-radius: 8px;
}
.clear {
	clear: both;
}
/*Setup footer*/
footer {
	height: 60px;
	background-color: #ffca28;
	border-radius: 30px;
	margin: 30px 0px;
	text-align: center;
}
footer p {
	padding-top: 15px;
}
/*Setup about page*/
#about p {
	text-align: justify;
	text-indent: 30px;
	padding: 20px;
	line-height: 1.3em;
}
dl {
	text-align: center;
}
dt {
	padding-top: 8px;
}
/*Setup contact page*/
#contact table {
	padding: 40px;
	width: 100%;
}
#contact input,
#contact textarea {
	padding: 10px;
	border: 1px solid #e5e5e5;
	color: black;
	border-radius: 8px;
	outline: none;
	-webkit-box-shadow: 8px 8px 13px 0px rgba(177, 161, 183, 1);
	-moz-box-shadow: 8px 8px 13px 0px rgba(177, 161, 183, 1);
	box-shadow: 8px 8px 13px 0px rgba(177, 161, 183, 1);
}
#contact label {
	font-size: 19px;
}
/*Setup location page*/
#location h1 {
	margin-bottom: 30px;
}
.mapouter {
	display: block;
	margin: 0px auto;
	position: relative;
	text-align: right;
	height: 390px;
	width: 450px;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 390px;
	width: 450px;
	border-radius: 10px;
}
/*Setup gallery page*/
#gallery {
	text-align: center;
}
#gallery img {
	height: 250px;
	width: 270px;
	border: 5px groove gray;
	border-radius: 8px;
	margin-top: 20px;
}
/*Setup k2_2017 page*/
.slides {
	display: block;
	width: 550px;
	height: 380px;
	margin: 0 auto;
	position: relative;
}
.slides input {
	display: none;
}
.slide_container {
	display: block;
}
/*that's div*/
.slide {
	width: 550px;
	height: 380px;
	opacity: 0;
	display: block;
	position: absolute;
	transform: scale(0);
	transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
}
.slide img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
}
.nav label {
	width: 140px;
	height: 380px;
	display: none;
	position: absolute;
	opacity: 0;
	z-index: 9;
	cursor: pointer;
	transition: opacity .2s;
	color: #fff;
	font-size: 156pt;
	text-align: center;
	background-color: rgba(255, 255, 255, .4);
	text-shadow: 0px 0px 15px rgb(119, 119, 119);
}
.slide:hover + .nav label {
	opacity: 0.5;
}
.nav label:hover {
	opacity: 1;
}
.ls {
	top: 50px;
	left: 30px;
	position: absolute;
}
.rs {
	top: 50px;
	right: 30px;
	position: absolute;
}
.prev {
	top: 0;
	left: 0;
	position: absolute;
}
.next {
	top: 0;
	right: 0;
	position: absolute;
}
input:checked + .slide_container .slide {
	opacity: 1;
	transform: scale(1);
	transition: opacity 1s ease-in-out;
}
input:checked + .slide_container .nav label {
	display: block;
}
.nav_dots {
	width: 100%;
	height: 11px;
	position: absolute;
	bottom: 9px;
	display: block;
	text-align: center;
}
.nav_dots .nav_dot {
	width: 11px;
	height: 11px;
	top: -5px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}
.nav_dots .nav_dot:hover {
	cursor: pointer;
	background-color: yellow;
}
input#img_1:checked ~ .nav_dots label#img_dot_1,
input#img_2:checked ~ .nav_dots label#img_dot_2,
input#img_3:checked ~ .nav_dots label#img_dot_3,
input#img_4:checked ~ .nav_dots label#img_dot_4,
input#img_5:checked ~ .nav_dots label#img_dot_5,
input#img_6:checked ~ .nav_dots label#img_dot_6,
input#img_7:checked ~ .nav_dots label#img_dot_7,
input#img_8:checked ~ .nav_dots label#img_dot_8,
input#img_9:checked ~ .nav_dots label#img_dot_9,
input#img_10:checked ~ .nav_dots label#img_dot_10 {
	background: rgba(255, 255, 0, 0.8);
}
#animated_image {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
	box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}
#animated_image:hover {
	transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
#gallery_2017 hr, #gallery_opening hr {
	margin: 20px 0px;
}
#author_image {
	border: 8px ridge orange;
  display: block;
  margin: 0 auto;
	border-radius: 10px;
  margin-bottom: 25px;
}
#author p {
  padding: 20px;
  text-align: justify;
  text-indent: 10px;
}